<% header = link_to('All Posts', posts_path) + " &raquo; #{@category.name}".html_safe %>
<%= render 'shared/content_title', title: header  %>
<div class = "posts">

<% @categories.each do |post| %>
  <%= render 'posts/post', post: post %>
<% end %>

</div>
